$color-primary: #C1CBCC;
$color-primary-light: #89867F;
$color-primary-dark: #A8ACA4;

$color-secondary-dark: #25434A;
$color-secondary-light: #A8ACA4;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
