.bio {

  padding-left: 35vh;
  padding-right: 35vh;
  font-family: monospace;
  color: $color-primary;

  &-heading {
    text-align: center;
    font-size: 35px;
    font-weight: 300;
  }

  &-body {



    &-p {
      text-align: left;
      font-size: 14px;
    }
  }
}
