@keyframes dropDown {
  0% {
    transform: translateY(-40px);
    opacity: 0; }
  100% {
    transform: translateY(-15px);
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translate(0); } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 55%; }
  100% {
    opacity: 1;
    left: 50%; } }
@keyframes moveShape {
  0% {
    opacity: 0;
    transform: translateY(-100px);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0% 100%); }
  100% {
    opacity: 1;
    transform: translate(0);
    clip-path: polygon(0 0, 100% 0, 100% 65%, 50% 100%, 0% 65%); } }
* {
  margin: 0;
  padding: 0;
  font-family: monospace; }

body {
  background-color: #25434A;
  -webkit-backface-visibility: hidden; }

.email {
  text-decoration: none;
  color: #A8ACA4; }

.btn {
  transform: translateY(-15px);
  height: 1vh;
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  vertical-align: bottom;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-transform: uppercase;
  width: 10%;
  background-color: #25434A;
  animation: dropDown .5s ease-out;
  transition: all .2s;
  box-shadow: 0px 2px 10px black; }
  .btn-text {
    text-decoration: none;
    color: #C1CBCC; }
  .btn:hover {
    color: #25434A;
    background-color: #A8ACA4;
    transform: translateY(-10px);
    cursor: pointer; }

.heading {
  -webkit-backface-visibility: hidden; }
  .heading__img {
    position: relative;
    height: 35vh;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8)), url(../../img/river.jpg);
    background-size: cover;
    background-position: center;
    z-index: 0;
    animation: moveShape 1s ease-out;
    clip-path: polygon(0 0, 100% 0, 100% 65%, 50% 100%, 0% 65%); }
  .heading-primary {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: #25434A;
    font-weight: 500;
    text-transform: uppercase;
    font-family: monospace;
    animation: fadeInRight 1s ease-out; }
    .heading-primary-main {
      font-size: 40px;
      letter-spacing: 6px;
      text-align: center; }
    .heading-primary-sub {
      font-size: 16px;
      letter-spacing: 4px;
      text-align: center; }
      .heading-primary-sub:hover {
        color: #89867F; }

.welcome-text {
  padding-left: 35vh;
  padding-right: 35vh;
  font-family: monospace;
  color: #C1CBCC;
  animation: fadeInLeft 1s ease-out; }
  .welcome-text-heading {
    text-align: center;
    font-size: 35px;
    font-weight: 300; }
  .welcome-text-body-p {
    text-align: left;
    font-size: 19px; }

.header {
  position: absolute;
  padding-top: 0px;
  margin-top: 0px;
  display: flex;
  width: 100%;
  z-index: 2;
  font-family: monospace; }

.header > div {
  flex: 1; }

.bio-img {
  position: absolute;
  width: 50%;
  left: 25%; }
  .bio-img-container {
    width: 100%;
    height: 35vh;
    clip-path: polygon(0 0, 100% 0, 100% 65%, 50% 100%, 0% 65%);
    overflow: hidden;
    animation: moveShape 1s ease-out; }

/*# sourceMappingURL=main.css.map */
